// data-language marker
$codeblock-background: #757575;
$codeblock-padding-topbottom: .18em;
$codeblock-padding-leftright: .48em;

$codeblock-name-padding-topbottom: .25em;
$codeblock-name-padding-leftright: .75em;