// Colors
$light-grey: #e6e6e6 !default;
$grey:#7d7d7d !default;
$dark-grey: #4a4a4a !default;
$white: #fff !default;

$primary-color: #4a4a4a !default;
$secondary-color: #00a5e1 !default;
$tertiary-color: rgb(70, 42, 43) !default;

$border-color: #bbb !default;
$link-color: $secondary-color !default;
$font-color: #4a4a4a !default;

$footer-bg: $light-grey;
$footer-text-color: $dark-grey;
$footer-copyright: #a9aaaa;
$footer-copyright-bg: #363636;
$footer-terms-bg: #767676;